* {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;

    background-color: navy;
}
@media (min-width: 800px) {
    main { grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    #codeupValues { grid-column: 1 / span 2; }
}
@media (min-width: 1600px) {
    main { grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr;
        max-width: 2000px;
    }
    #codeupValues { grid-column: 1 / span 4; }
}

section{
    border: .5rem solid gray;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-family: Chalkboard;
    background-color: darkgreen;
    color: whitesmoke
}
.value {
}

#codeupLogo {
    background-color: #333;
}

/*Here is where you can set styles for the different sections*/
#codeupValues {
}
#codeupValues h1 {
    color: coral;
    font-family: "Apple Chancery";
}
#codeupValues p {
    color: darkseagreen;
}

#BH {
    background-color: darkolivegreen;
}
#BH h2 {
    color: blueviolet;
}
#BH p {
    color: aquamarine;
}

#CIG {
    background-color: darkgreen;
}
#CIG h2 {

}
#CIG p {

}

#DE {
    background-color: forestgreen;
}
#DE h2 {

}
#DE p {

}

#AWI {
    background-color: darkseagreen;
}
#AWI h2 {

}
#AWI p {

}