#map{
    width: 80%;
    height: 50%;
    margin: 10px 10%;
}

h3{
    text-align: center;
}
#city{
    text-align: center;
    margin-top: 5px;
}
#header{
    height: 40px;
    margin: 5px;
    background-color: royalblue;
    color: whitesmoke;
}
.form-inline{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group {
    width: 400px;
}

#inputAddress, #suggestedAddress {
    width: 100%
}
body, html{
    height: 100%;
    body: 100%;
    margin: 0;
}
#page{
    height: 100%
}

@media screen and (min-width:576px) { /* ... */
    .card-deck{
        height: 45%;
        font-size: .5em;
    }
    #city{
        font-size: .7em;
    }
    #map{
        height: 40%;
    }

}

@media screen and (min-width:992px) { /* ... */
    .card-deck{
        height: 50%;
        font-size: 1em;
    }
    #city{
        font-size: 1em;
    }
    #map{
        height: 40%;
    }

}